<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.min.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div th:insert="navbar"></div>

<div class="row main">

    <form class="col s12" action="#" th:action="@{/modifierBl}" th:object="${bonlivraison}" method="post">

        <div class="row">
            <div class="input-field col s6">
                <input id="numjira" name="numjira" type="text" th:value="${bonlivraison.numjira}"
                       th:class="${#fields.hasErrors('numjira')}? invalid"/>
                <label for="numjira">Redmine</label>
                <div class="red-text" th:if="${#fields.hasErrors('numjira')}" th:errors="*{numjira}">numjira Error
                </div>
            </div>
            <div class="input-field col s3">
                <i class="material-icons prefix">date_range</i>
                <input type="text" name="datecreation" id="datecreation" th:value="${{bonlivraison.datecreation}}"
                       class="datepicker"/>
                <label for="datecreation">Date de livraison</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea"
                          th:value="${bonlivraison.description}"></textarea>
                <label for="description">Description</label>
                <div class="red-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    description
                    Error
                </div>

            </div>
        </div>
        <div class="row">
            <div class="input-field col s2">
                <select id="domaine" name="domaine" th:value="${bonlivraison.domaine}">
                    <option th:each="domaine : ${allDomaines}"
                            th:value="${domaine.getNom()}"
                            th:text="${domaine.getNom()}">Wireframe
                    </option>
                </select>
                <label>Domaine</label>

            </div>
            <div class="input-field col s2">
                <select id="source" name="source" th:value="${bonlivraison.source}">
                    <option th:each="environnement : ${allSources}"
                            th:value="${environnement.getNomenvironnement()}"
                            th:text="${environnement.getNomenvironnement()}">nomenvironnement
                    </option>
                </select>
                <label>Source</label>
            </div>

            <div class="input-field col s1">
                <label for="pret">pret</label>
                <input type="text" name="pret" id="pret" th:value="${bonlivraison.pret}">

            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <button class="btn waves-effect waves-light" type="submit">Modifier
                    <i class="material-icons right">send</i></button>
            </div>
        </div>
    </form>

</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date,
        format: 'dd-mm-yyyy',
        formatSubmit: 'dd-mm-yyyy'

    });
    $(document).ready(function () {
        $('select').material_select();
    });

    $('#description').trigger('autoresize');

</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    $('#description').val([[${bonlivraison.description}]]);


    /*]]>*/
</script>

</html>