<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.min.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <form class="col s12" action="#" th:action="@{/modifierDomaine}" th:object="${domaine}" method="post">

        <div class="row">
            <div class="input-field col s6">
                <input id="nom" name="nom" type="text" th:value="${domaine.nom}"
                       th:class="${#fields.hasErrors('nom')}? invalid"/>
                <label for="nom">Nom</label>
                <div class="red-text" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error
                </div>
            </div>
            <div class="input-field col s3">
                <input type="text" name="codliv" id="codliv" th:value="${{domaine.codliv}}"
                />
                <label for="codliv">Code livraison</label>
            </div>
            <div class="input-field col s3">
                <input type="text" name="lettreliv" id="lettreliv" th:value="${{domaine.lettreliv}}"
                />
                <label for="lettreliv">Lettre livraison</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea id="description" name="description" class="materialize-textarea"
                          th:value="${domaine.description}"></textarea>
                <label for="description">Description</label>
                <div class="red-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                    description
                    Error
                </div>

            </div>
        </div>

        <div class="row">
            <div class="input-field col s3">
                <button class="btn waves-effect waves-light" type="submit">Modifier
                    <i class="material-icons right">send</i></button>
            </div>
        </div>
    </form>

</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>

    $('#description').trigger('autoresize');

</script>
<script th:inline="javascript">
    /*<![CDATA[*/

    $('#description').val([[${domaine.description}]]);


    /*]]>*/
</script>