<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:insert="navbar"></div>
<div class="row main">
    <div class="col s12">
        <div th:fragment="creationBonLivraison">
            <form action="#" th:action="@{/listeBonLivraison}" th:object="${bonlivraison}"
                  method="post">
                <div class="row">
                    <div class="input-field col s4">
                        <label for="numjira">Redmine</label>
                        <input id="numjira" type="text" th:field="*{numjira}"
                               th:class="${#fields.hasErrors('numjira')}? invalid"/>
                        <div class="red-text" th:if="${#fields.hasErrors('numjira')}" th:errors="*{numjira}">numjira
                            Error
                        </div>
                    </div>
                    <div class="input-field col s3">
                        <input type="text" id="datecreation" th:field="*{datecreation}" class="datepicker"/>
                        <label for="datecreation">Date de livraison</label>
                    </div>
                    <div class="input-field col s2">
                        <select th:field="*{source}">
                            <option th:each="environnement : ${allSources}"
                                    th:value="${environnement.nomenvironnement}"
                                    th:text="${environnement.nomenvironnement}">nomenvironnement
                            </option>
                        </select>
                        <label>Source</label>
                    </div>
                    <div class="input-field col s2">
                        <select th:field="*{domaine}">
                            <option th:each="domaine : ${allDomaines}"
                                    th:value="${domaine.getNom()}"
                                    th:text="${domaine.getNom()}">Wireframe
                            </option>
                        </select>
                        <label>Domaine</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s10">
                        <textarea class="materialize-textarea" type="text" id="description" th:field="*{description}"/>
                        <div class="red-text" th:if="${#fields.hasErrors('description')}"
                             th:errors="*{description}">
                            description
                            Error
                        </div>
                        <label for="description">Description</label>
                    </div>
                    <p>
                        <input type="checkbox" id="test5"/>
                        <label for="test5">Red</label>
                    </p>
                    <div class="input-field col s2">
                        <button class="btn waves-effect waves-light" type="submit">Creer
                            <i class="material-icons right">send</i></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>