<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <img th:src="@{/images/superWhizzz.png}" style="height:100%"/>
</div>

</body>
</html>