<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Liste Domaine</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <div class="col s12">
        <form action="#" th:action="@{/listeDomaine}" th:object="${domaine}" method="post">

            <div class="row">
                <div class="input-field col s6">
                    <input id="nom" type="text" th:field="*{nom}"
                           th:class="${#fields.hasErrors('nom')}? invalid"/>
                    <label for="nom">Nom</label>
                    <div class="red-text" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">Nom Error
                    </div>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="codliv" th:field="*{codliv}"
                    />
                    <label for="codliv">Code livraison</label>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="lettreliv" th:field="*{lettreliv}"
                    />
                    <label for="lettreliv">Lettre livraison</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s10">
                <textarea id="description" class="materialize-textarea"
                          th:field="*{description}"></textarea>
                    <label for="description">Description</label>
                    <div class="red-text" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">
                        description
                        Error
                    </div>

                </div>
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Creer
                        <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>

        <table>
            <thead>
            <tr>
                <th>Nom</th>
                <th>Codliv</th>
                <th>LettreLiv</th>
                <th>Description</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allDomaine}">
                <td th:text="${{sb.nom}}">13/01/2011</td>
                <td th:text="${{sb.codliv}}">13/01/2011</td>
                <td th:text="${{sb.lettreliv}}">13/01/2011</td>
                <td th:text="${{sb.description}}">13/01/2011</td>
                <td>
                    <a th:href="@{/afficherDomaine(id=${sb.id})}" class="btn-floating">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $('#description').trigger('autoresize');
</script>
</html>