<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Liste action</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <div class="col s12">

        <table>
            <thead>
            <tr>
                <th>Type</th>
                <th>Code AC</th>
                <th>Code EM</th>
                <th>Type EM</th>
                <th>Nom process</th>
                <th>Radical process</th>
                <th>Temoin forcage</th>
                <th>programme</th>

            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${entitedesign.entiteactions}">
                <td th:text="${sb.typeaction}">13/01/2011</td>
                <td th:text="${sb.codeentiteac}">13/01/2011</td>
                <td th:text="${sb.codeentitemere}">13/01/2011</td>
                <td th:text="${sb.typeentitemere}">13/01/2011</td>
                <td th:text="${sb.nomprocess}">13/01/2011</td>
                <td th:text="${sb.radicalprocess}">13/01/2011</td>
                <td th:text="${sb.temoinforcage}">13/01/2011</td>
                <td th:text="${sb.programme}">13/01/2011</td>


            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>