<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Liste Entite</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.min.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <div class="col s12">
        <ul class="tabs">
            <li class="tab col s3"><a class="active" href="#test1">Liste entitees</a></li>
            <li class="tab col s3"><a href="#test2">Ajouter entitees design</a></li>
            <li class="tab col s3"><a href="#test3">Ajouter entitees fichier</a></li>
            <li class="tab col s3"><a href="#test4">Ajouter entitees sql</a></li>
        </ul>
    </div>
    <div id="test1" class="col s12">
    </div>
    <div id="test2" class="col s12">
        <form action="#" th:action="@{/creerEntiteDesign}" th:object="${entitedesign}" method="post">

            <div class="row">
                <div class="input-field col s6">
                    <input id="nom" type="text" th:field="*{nom}"
                           th:class="${#fields.hasErrors('nom')}? invalid"/>
                    <label for="nom">Nom</label>
                    <div class="red-text" th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">nom Error
                    </div>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="typedesign" th:field="*{typedesign}"
                    />
                    <label for="typedesign">Type design</label>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                <textarea id="commentairetechnique" class="materialize-textarea"
                          th:field="*{commentairetechnique}"></textarea>
                    <label for="commentairetechnique">Commentaire technique</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairetechnique')}"
                         th:errors="*{commentairetechnique}">
                        description
                        Error
                    </div>

                </div>
                <div class="input-field col s6">
                <textarea id="commentairefonctionnel" class="materialize-textarea"
                          th:field="*{commentairefonctionnel}"></textarea>
                    <label for="commentairefonctionnel">Commentaire fonctionnel</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairefonctionnel')}"
                         th:errors="*{commentairefonctionnel}">
                        description
                        Error
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Creer
                        <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="test3" class="col s12">
        <form action="#" th:action="@{/creerEntiteFichier}" th:object="${entitefichier}" method="post">

            <div class="row">
                <div class="input-field col s4">
                    <input id="nomfichier" type="text" th:field="*{nomfichier}"
                           th:class="${#fields.hasErrors('nomfichier')}? invalid"/>
                    <label for="nomfichier">Nom fichier</label>
                    <div class="red-text" th:if="${#fields.hasErrors('nomfichier')}" th:errors="*{nomfichier}">
                        nomfichier Error
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="chemin" type="text" th:field="*{chemin}"
                           th:class="${#fields.hasErrors('chemin')}? invalid"/>
                    <label for="chemin">Chemin</label>
                    <div class="red-text" th:if="${#fields.hasErrors('chemin')}" th:errors="*{chemin}">chemin Error
                    </div>
                </div>
                <div class="input-field col s2">
                    <input id="numversion" type="text" th:field="*{numversion}"
                           th:class="${#fields.hasErrors('numversion')}? invalid"/>
                    <label for="numversion">Version</label>
                    <div class="red-text" th:if="${#fields.hasErrors('numversion')}" th:errors="*{numversion}">
                        numversion Error
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                <textarea id="commentairetechniqueFichier" class="materialize-textarea"
                          th:field="*{commentairetechnique}"></textarea>
                    <label for="commentairetechniqueFichier">Commentaire technique</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairetechnique')}"
                         th:errors="*{commentairetechnique}">
                        description
                        Error
                    </div>

                </div>
                <div class="input-field col s6">
                <textarea id="commentairefonctionnelFichier" class="materialize-textarea"
                          th:field="*{commentairefonctionnel}"></textarea>
                    <label for="commentairefonctionnelFichier">Commentaire fonctionnel</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairefonctionnel')}"
                         th:errors="*{commentairefonctionnel}">
                        description
                        Error
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Creer
                        <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>
    <div id="test4" class="col s12">

        <form action="#" th:action="@{/creerEntiteSql}" th:object="${entitesql}" method="post">

            <div class="row">
                <div class="input-field col s3">
                    <input id="typesql" type="text" th:field="*{typesql}"
                           th:class="${#fields.hasErrors('typesql')}? invalid"/>
                    <label for="typesql">Type sql</label>
                    <div class="red-text" th:if="${#fields.hasErrors('typesql')}" th:errors="*{typesql}">
                        typesql Error
                    </div>
                </div>
                <div class="input-field col s3">
                    <input id="nomprocess" type="text" th:field="*{nomprocess}"
                           th:class="${#fields.hasErrors('nomprocess')}? invalid"/>
                    <label for="nomprocess">Nom process</label>
                    <div class="red-text" th:if="${#fields.hasErrors('nomprocess')}" th:errors="*{nomprocess}">
                        nomprocess Error
                    </div>
                </div>
                <div class="input-field col s6">
                    <input id="ordresql" type="text" th:field="*{ordresql}"
                           th:class="${#fields.hasErrors('ordresql')}? invalid"/>
                    <label for="ordresql">Ordre sql</label>
                    <div class="red-text" th:if="${#fields.hasErrors('ordresql')}" th:errors="*{ordresql}">
                        numversion Error
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="input-field col s6">
                <textarea id="commentairetechniqueSql" class="materialize-textarea"
                          th:field="*{commentairetechnique}"></textarea>
                    <label for="commentairetechniqueSql">Commentaire technique</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairetechnique')}"
                         th:errors="*{commentairetechnique}">
                        description
                        Error
                    </div>

                </div>
                <div class="input-field col s6">
                <textarea id="commentairefonctionnelFichier" class="materialize-textarea"
                          th:field="*{commentairefonctionnel}"></textarea>
                    <label for="commentairefonctionnelFichier">Commentaire fonctionnel</label>
                    <div class="red-text" th:if="${#fields.hasErrors('commentairefonctionnel')}"
                         th:errors="*{commentairefonctionnel}">
                        description
                        Error
                    </div>

                </div>

            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Creer
                        <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
    </div>


    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Type</th>
            <th>A livrer</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sb : ${bonLivraison.entitedesigns}">
            <td th:text="${sb.nom}">13/01/2011</td>
            <td th:text="${sb.typedesign}">13/01/2011</td>
            <td th:text="${sb.livrer}">13/01/2011</td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>chemin</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sb : ${bonLivraison.entitefichiers}">
            <td th:text="${sb.nomfichier}">13/01/2011</td>
            <td th:text="${sb.chemin}">13/01/2011</td>
        </tr>
        </tbody>
    </table>
    <table>
        <thead>
        <tr>
            <th>Type sql</th>
            <th>nom process</th>
            <th>ordre</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="sb : ${bonLivraison.entitesqls}">
            <td th:text="${sb.typesql}">13/01/2011</td>
            <td th:text="${sb.nomprocess}">13/01/2011</td>
            <td th:text="${sb.ordresql}">13/01/2011</td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $('#commentairetechnique').trigger('autoresize');
    $('#commentairefonctionnel').trigger('autoresize');
    $('#commentairetechniqueFichier').trigger('autoresize');
    $('#commentairefonctionnelFichier').trigger('autoresize');
    $('#commentairetechniqueSql').trigger('autoresize');
    $('#commentairefonctionnelSql').trigger('autoresize');
    $(document).ready(function () {
        $('ul.tabs').tabs();
    });

</script>
</html>