<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:insert="navbar"></div>
<div class="row main">
    <div class="col s12">
        <div th:include="creationBonLivraison :: creationBonLivraison">
        </div>

        <div class="input-field col s12">
            <form action="#" th:action="@{/listeBonLivraison}" method="get">
                <div class="input-field col s2">
                    <select name="date" id="date">
                        <option th:each="date : ${dateBl}"
                                th:value="${{date}}"
                                th:text="${{date}}">Wireframe
                        </option>
                    </select>
                    <label>Date</label>
                </div>
                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Chercher
                        <i class="material-icons right">send</i></button>
                </div>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Redmine</th>
                <th>Date de livraison</th>
                <th>Domaine</th>
                <th>Source</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allBonLivraison}">
                <td th:text="${{sb.numjira}}">13/01/2011</td>
                <td th:text="${{sb.datecreation}}">13/01/2011</td>
                <td th:text="${{sb.domaine}}">13/01/2011</td>
                <td th:text="${{sb.source}}">13/01/2011</td>
                <td>
                    <a th:href="@{/afficherBonLivraison(id=${sb.numjira})}" class="btn-floating">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/listeEntite(id=${sb.numjira})}" class="btn-floating">
                        <i class="material-icons">dehaze</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date,
        format: 'dd-mm-yyyy',
        formatSubmit: 'dd-mm-yyyy'
    });
    $(document).ready(function () {
        $('select').material_select();
    });
    $('#description').trigger('autoresize');
</script>
<script th:inline="javascript">
</script>
</html>