<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <head>
        <meta charset="UTF-8">
        <title>Liste Domaine</title>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
        <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.css}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <div class="col s12">
        <div th:include="creationUtilisateur :: creationUtilisateur">
            
        </div>
        <table>
            <thead>
            <tr>
                <th>Identifiant</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Role</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allUtilisateur}">
                <td th:text="${sb.identifiant}">13/01/2011</td>
                <td th:text="${sb.nomuser}">13/01/2011</td>
                <td th:text="${sb.prenomuser}">13/01/2011</td>
                <td th:text="${sb.role}">13/01/2011</td>
                <td>
                    <a th:href="@{/afficherUtilisateur(id=${sb.identifiant})}" class="btn-floating">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>
    $('#description').trigger('autoresize');
</script>
</html>