<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/icon.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/materialize.min.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:insert="navbar"></div>

<div class="row main">
    <div class="col s12">
        <form action="#" th:action="@{/listeBonLivraison}" th:object="${bonlivraison}"
              method="post">

            <div class="row">
                <div class="input-field col s4">
                    <label for="numjira">Redmine</label>
                    <input id="numjira" type="text" th:field="*{numjira}"
                           th:class="${#fields.hasErrors('numjira')}? invalid"/>
                    <div class="red-text" th:if="${#fields.hasErrors('numjira')}" th:errors="*{numjira}">numjira
                        Error
                    </div>
                </div>
                <div class="input-field col s3">
                    <input type="text" id="datecreation" th:field="*{datecreation}" class="datepicker"/>
                    <label for="datecreation">Date de livraison</label>

                </div>
                <div class="input-field col s2">
                    <select th:field="*{source}">
                        <option th:each="environnement : ${allSources}"
                                th:value="${environnement.nomenvironnement}"
                                th:text="${environnement.nomenvironnement}">nomenvironnement
                        </option>
                    </select>
                    <label>Source</label>
                </div>

                <div class="input-field col s2">
                    <select th:field="*{domaine}">
                        <option th:each="domaine : ${allDomaines}"
                                th:value="${domaine.getNom()}"
                                th:text="${domaine.getNom()}">Wireframe
                        </option>
                    </select>
                    <label>Domaine</label>

                </div>

            </div>
            <div class="row">
                <div class="input-field col s10">

                    <textarea class="materialize-textarea" type="text" id="description" th:field="*{description}"/>
                    <div class="red-text" th:if="${#fields.hasErrors('description')}"
                         th:errors="*{description}">
                        description
                        Error
                    </div>
                    <label for="description">Description</label>

                </div>
                <p>
                    <input type="checkbox" id="test5"/>
                    <label for="test5">Red</label>
                </p>


                <div class="input-field col s2">
                    <button class="btn waves-effect waves-light" type="submit">Creer
                        <i class="material-icons right">send</i></button>
                </div>
            </div>
        </form>
        <div class="input-field col s2">
            <form action="#" th:action="@{/listeBonLivraison}" method="get">
                <select name="date" id="date">
                    <option th:each="date : ${dateBl}"
                            th:value="${{date}}"
                            th:text="${{date}}">Wireframe
                    </option>
                </select>
                <label>Date</label>
                <input type="submit">
            </form>
        </div>

        <table>
            <thead>
            <tr>
                <th>Redmine</th>
                <th>Date de livraison</th>
                <th>Domaine</th>
                <th>Source</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="sb : ${allBonLivraison}">
                <td th:text="${{sb.numjira}}">13/01/2011</td>
                <td th:text="${{sb.datecreation}}">13/01/2011</td>
                <td th:text="${{sb.domaine}}">13/01/2011</td>
                <td th:text="${{sb.source}}">13/01/2011</td>
                <td>
                    <a th:href="@{/afficherBonLivraison(id=${sb.numjira})}" class="btn-floating">
                        <i class="material-icons">mode_edit</i>
                    </a>
                </td>
                <td>
                    <a th:href="@{/listeEntite(id=${sb.numjira})}" class="btn-floating">
                        <i class="material-icons">dehaze</i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="js/materialize.min.js"></script>
<script>

    $('.datepicker').pickadate({
        selectMonths: true, // Creates a dropdown to control month
        selectYears: 15, // Creates a dropdown of 15 years to control year,
        today: 'Today',
        clear: 'Clear',
        close: 'Ok',
        closeOnSelect: false, // Close upon selecting a date,
        format: 'dd-mm-yyyy',
        formatSubmit: 'dd-mm-yyyy'

    });
    $(document).ready(function () {
        $('select').material_select();
    });
    $('#description').trigger('autoresize');

</script>
<script th:inline="javascript">
</script>
</html>