<style type="text/css">
    .wrapper {
        padding-left: 300px;
    }

    .main {
        padding-left: 300px;
    }
</style>
<div class="wrapper">

    <div class="">
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li></li>
            <li><
            <li><a th:href="@{/logout}">Logout</a></li>
        </ul>

        <nav class="light-blue lighten-1" role="navigation">
            <div class="nav-wrapper container">
                <a href="#!" class="brand-logo">Super Whizzz</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a sec:authentication="name">Bob</a></li>
                    <li><a sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</a></li>
                    <li>
                        <form th:action="@{/logout}" method="post">
                            <button class="btn waves-effect waves-light" value="Log out" type="submit" name="action">
                                Se deconnecter
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

</div>

<ul id="slide-out" class="side-nav fixed">
    <li><a th:href="@{/listeBonLivraison}"><span>Bon de livraison</span></a></li>
    <li><a href="#!">Second Sidebar Link</a></li>
</ul>