<table>
    <thead>
    <tr>
        <th>Redmine</th>
        <th>Date de livraison</th>
        <th>Domaine</th>
        <th>Source</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sb : ${allBonLivraison}">
        <td th:text="${{sb.numjira}}">13/01/2011</td>
        <td th:text="${{sb.datecreation}}">13/01/2011</td>
        <td th:text="${{sb.domaine}}">13/01/2011</td>
        <td th:text="${{sb.source}}">13/01/2011</td>

    </tr>
    </tbody>
</table>
<span sec:authorize="isAuthenticated()">
                | Logged user: <span sec:authentication="name"></span> |
                Roles: <span sec:authentication="principal.authorities"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

